In [1]:
import pandas as pd
import numpy as np
import re
import string

In [2]:
df =  pd.read_csv('D:\Jupyter Notebooks\Data\Amazon_Unlocked_Mobile.csv')

In [3]:
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413840 entries, 0 to 413839
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Product Name  413840 non-null  object
 1   Brand Name    348669 non-null  object
 2   Price         407907 non-null  float64
 3   Rating        413840 non-null  int64
 4   Reviews       413778 non-null  object
 5   Review Votes  401544 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 18.9+ MB

In [5]:
df.isnull().sum()

Product Name        0
Brand Name      65171
Price            5933
Rating              0
Reviews            62
Review Votes    12296
dtype: int64

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(413840, 6)

In [8]:
df = df[['Reviews','Rating']]

In [9]:
df.shape

(413840, 2)

In [10]:
df.head()

                                             Reviews  Rating
0  I feel so LUCKY to have found this used (phone...       5
1  nice phone, nice up grade from my pantach revu...       4
2                                       Very pleased       5
3  It works good but it goes slow sometimes but i...       4
4  Great phone to replace my lost phone. The only...       4

In [11]:
#we will consider rating 3 as neutral
#we will consider all review above 3 as positive and all review below 3 as negative
# we wil remove ratings that is neutral

In [12]:
df = df[df['Rating']!=3]

In [13]:
df.shape

(382075, 2)

In [14]:
def remove_punc(text):
    p = set(string.punctuation)
    text = text.lower()
    words =  text.split()
    ctext = []
    
    for i in range(10):
        p.add(str(i))
    for i in words:
        t = " ".join([x for x in encode("ascii","ignore").decode("ascii") if x not in p])
        ctext.append(t)
        
    return " ".join([i for i in ctext])

In [15]:
uncleaned = [i for i in df['Reviews']]
cleaned = []

for i in uncleaned:
    try:
        ctxt = remove_punc(i)
        if len(ctxt)== 0:raise()
        cleaned.append(ctxt)
    except:
        cleaned.append("NAN")
        
df['cleanedtext'] = cleaned
df.to_csv(r'D:\Jupyter Notebooks\Data\Amazon_Unlocked_Mobile.csv')

In [16]:
df.isna().sum()

Reviews        60
Rating          0
cleanedtext     0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 382075 entries, 0 to 413839
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Reviews      382015 non-null  object
 1   Rating       382075 non-null  int64
 2   cleanedtext  382075 non-null  object
dtypes: int64(1), object(2)
memory usage: 11.7+ MB

In [18]:
df.dropna(axis=0, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 382015 entries, 0 to 413839
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Reviews      382015 non-null  object
 1   Rating       382015 non-null  int64
 2   cleanedtext  382015 non-null  object
dtypes: int64(1), object(2)
memory usage: 11.7+ MB

In [20]:
df.reset_index(drop=True)

                                                  Reviews  Rating cleanedtext
0       I feel so LUCKY to have found this used (phone...       5         NAN
1       nice phone, nice up grade from my pantach revu...       4         NAN
2                                            Very pleased       5         NAN
3       It works good but it goes slow sometimes but i...       4         NAN
4       Great phone to replace my lost phone. The only...       4         NAN
...                                                   ...     ...         ...
382010  good rugged phone that has a long-lasting batt...       4         NAN
382011                                          used hard       1         NAN
382012                     another great deal great price       5         NAN
382013        Passes every drop test onto porcelain tile!       5         NAN
382014  Only downside is that apparently Verizon no lo...       4         NAN

[382015 rows x 3 columns]

In [21]:
df.shape

(382015, 3)

In [22]:
df.to_csv(r'D:\Jupyter Notebooks\Data\Amazon_Unlocked_Mobile_Data_cleaned.csv')

In [23]:
import nltk
from nltk.corpus import stopwords

In [24]:
stop = set(stopwords.words("english"))
stop.remove('no')
stop.remove('not')

p = []

for feedback in df['cleanedtext'].values:
    remove = ' '.join([e for e in feedback.split() if e not in stop])
    p.append(remove.lower().strip())
df['remove_stop'] = p
df.to_csv(r'D:\Jupyter Notebooks\Data\Amazon_Unlocked_Mobile_removed_stopwords.csv')

In [25]:
df

,Reviews,Rating,cleanedtext,remove_stop
0,I feel so LUCKY to have found this used (phone...,5,NAN,nan
1,"nice phone, nice up grade from my pantach revu...",4,NAN,nan
2,Very pleased,5,NAN,nan
3,It works good but it goes slow sometimes but i...,4,NAN,nan
4,Great phone to replace my lost phone. The only...,4,NAN,nan
...,...,...,...,...
413832,good rugged phone that has a long-lasting batt...,4,NAN,nan
413834,used hard,1,NAN,nan
413835,another great deal great price,5,NAN,nan
413837,Passes every drop test onto porcelain tile!,5,NAN,nan
413839,Only downside is that apparently Verizon no lo...,4,NAN,nan

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
v = CountVectorizer()
text_bow = v.fit_transform(df['remove_stop'])
print(v.get_feature_names())
text_bow.shape

['nan']

(382015, 1)

In [28]:
v = CountVectorizer()
text_bow = v.fit_transform(df['remove_stop'])
print(v.get_feature_names())

['nan']

In [29]:
m =

SyntaxError: invalid syntax (<ipython-input-29-95fdf8e33d60>, line 1)