In [2]:
import pandas as pd
import numpy as np
import re
import string

In [3]:
df =  pd.read_csv('Amazon_Unlocked_Mobile.csv')

In [4]:
df.head()

,Unnamed: 0,Reviews,Rating,cleanedtext
0,0,I feel so LUCKY to have found this used (phone...,5,i feel so lucky to have found this used phone ...
1,1,"nice phone, nice up grade from my pantach revu...",4,nice phone nice up grade from my pantach revue...
2,2,Very pleased,5,very pleased
3,3,It works good but it goes slow sometimes but i...,4,it works good but it goes slow sometimes but i...
4,4,Great phone to replace my lost phone. The only...,4,great phone to replace my lost phone the only ...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382075 entries, 0 to 382074
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   382075 non-null  int64
 1   Reviews      382015 non-null  object
 2   Rating       382075 non-null  int64
 3   cleanedtext  381512 non-null  object
dtypes: int64(2), object(2)
memory usage: 11.7+ MB

In [6]:
df.isnull().sum()

Unnamed: 0       0
Reviews         60
Rating           0
cleanedtext    563
dtype: int64

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(382075, 4)

In [9]:
df = df[['Reviews','Rating']]

In [10]:
df.shape

(382075, 2)

In [11]:
df.head()

                                             Reviews  Rating
0  I feel so LUCKY to have found this used (phone...       5
1  nice phone, nice up grade from my pantach revu...       4
2                                       Very pleased       5
3  It works good but it goes slow sometimes but i...       4
4  Great phone to replace my lost phone. The only...       4

In [12]:
#we will consider rating 3 as neutral
#we will consider all review above 3 as positive and all review below 3 as negative
# we wil remove ratings that is neutral

In [13]:
df = df[df['Rating']!=3]

In [14]:
df.shape

(382075, 2)

In [15]:
def remove_punc(text):
    p = set(string.punctuation)
    text = text.lower()
    words = text.split()
    ctext = []
    
    for i in range(10):
        p.add(str(i))
    for i in words:
        t = ''.join([x for x in i.encode("ascii","ignore").decode("ascii") if x not in p])
        ctext.append(t)
    return " ".join([i for i in ctext])

In [17]:
uncleaned = [i for i in df['Reviews']]
cleaned = []

for i in uncleaned:
    try:
        ctxt = remove_punc(i)
        if len(ctxt) == 0:
            raise()
        cleaned.append(ctxt)
    except:
        cleaned.append(np.nan)
df['cleanedtext'] = cleaned
df.to_csv(r'Amazon_Unlocked_Mobile.csv')

In [19]:
df.isna().sum()

Reviews         60
Rating           0
cleanedtext    563
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 382075 entries, 0 to 382074
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Reviews      382015 non-null  object
 1   Rating       382075 non-null  int64
 2   cleanedtext  381512 non-null  object
dtypes: int64(1), object(2)
memory usage: 11.7+ MB

In [21]:
df.dropna(axis=0, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 381512 entries, 0 to 382074
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Reviews      381512 non-null  object
 1   Rating       381512 non-null  int64
 2   cleanedtext  381512 non-null  object
dtypes: int64(1), object(2)
memory usage: 11.6+ MB

In [25]:
df.reset_index(drop=True)

,Reviews,Rating,cleanedtext
0,I feel so LUCKY to have found this used (phone...,5,i feel so lucky to have found this used phone ...
1,"nice phone, nice up grade from my pantach revu...",4,nice phone nice up grade from my pantach revue...
2,Very pleased,5,very pleased
3,It works good but it goes slow sometimes but i...,4,it works good but it goes slow sometimes but i...
4,Great phone to replace my lost phone. The only...,4,great phone to replace my lost phone the only ...
...,...,...,...
381507,good rugged phone that has a long-lasting batt...,4,good rugged phone that has a longlasting batte...
381508,used hard,1,used hard
381509,another great deal great price,5,another great deal great price
381510,Passes every drop test onto porcelain tile!,5,passes every drop test onto porcelain tile
381511,Only downside is that apparently Verizon no lo...,4,only downside is that apparently verizon no lo...

In [26]:
df.shape

(381512, 3)

In [28]:
df.to_csv(r'Amazon_Unlocked_Mobile_Data_cleaned.csv')

In [30]:
import nltk
from nltk.corpus import stopwords

In [31]:
stop = set(stopwords.words("english"))
stop.remove('no')
stop.remove('not')

p = []

for feedback in df['cleanedtext'].values:
    remove = ' '.join([e for e in feedback.split() if e not in stop])
    p.append(remove.lower().strip())
df['remove_stop'] = p
df.to_csv(r'Amazon_Unlocked_Mobile_removed_stopwords.csv')

In [32]:
df

,Reviews,Rating,cleanedtext,remove_stop
0,I feel so LUCKY to have found this used (phone...,5,i feel so lucky to have found this used phone ...,feel lucky found used phone us not used hard p...
1,"nice phone, nice up grade from my pantach revu...",4,nice phone nice up grade from my pantach revue...,nice phone nice grade pantach revue clean set ...
2,Very pleased,5,very pleased,pleased
3,It works good but it goes slow sometimes but i...,4,it works good but it goes slow sometimes but i...,works good goes slow sometimes good phone love
4,Great phone to replace my lost phone. The only...,4,great phone to replace my lost phone the only ...,great phone replace lost phone thing volume bu...
...,...,...,...,...
382070,good rugged phone that has a long-lasting batt...,4,good rugged phone that has a longlasting batte...,good rugged phone longlasting batteryif need s...
382071,used hard,1,used hard,used hard
382072,another great deal great price,5,another great deal great price,another great deal great price
382073,Passes every drop test onto porcelain tile!,5,passes every drop test onto porcelain tile,passes every drop test onto porcelain tile
382074,Only downside is that apparently Verizon no lo...,4,only downside is that apparently verizon no lo...,downside apparently verizon no longer uses vca...